<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} TITRE {% endblock %}</title>
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>

        {% block styleJS %}
            <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
            <script src="/semantic/dist/semantic.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="ui vertical stripe segment" style="border:solid black 2px; padding:10px; margin-bottom:10px">{% block menu %} MENU {% endblock %}</div>
        <div class="ui vertical stripe segment" style="border:solid black 2px; padding:10px; margin-bottom:10px">{% block body %} BODY {% endblock %}</div>
        <div class="ui vertical stripe segment" style="border:solid black 2px; padding:10px; margin-bottom:10px">{% block detail %} DETAIL {% endblock %}</div>
    </body>
    <footer class="ui vertical stripe segment" style="border:solid black 2px; padding:10px; margin-bottom:10px">
        {% block footer %} TEST FOOTER{% endblock %}
    </footer>
</html>
